<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile Page')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<script src="/js/keys.js"></script>
<main class="container">
    <h1>My Profile</h1><br>
    <div class="card-container">
        <div class="card profile-card w-100">
            <h2 class="card-header greeting" th:text="|Hello, ${#authentication.principal.username}!|"></h2>
            <p class="profile-email" th:text="|Email: ${#authentication.principal.email}|"></p>
            <a class="btn btn-primary btn-edit-profile"
               th:href="@{/profile/{id}/edit (id = ${#authentication.principal.id})}">Edit Profile</a>
            <a th:href="@{/props/create}" class="btn btn-primary btn-create-profile w-100">Create Property</a>
        </div>
    </div>
    <br>
    <div class="row">
        <form class="form-inline" th:action="@{/notes/search}" method="GET">
            <label for="q"></label>
            <input type="text" name="q" id="q" placeholder="Search Notes">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Find</button>
        </form>
    </div>
    <br>
    <div class="row">
        <div id="loop" class="col-4" th:each="prop : ${props}">
            <div th:if="${#authentication.principal.id == prop.user.id}">
                <div class="card profile-prop-card">
                    <h4 class="card-header prop-header" th:text="|Property Category: ${prop.category}|"></h4>
                    <a th:href="@{/props/{id} (id = ${prop.id})}">
<!--                        <span id="streetView" class="d-flex"></span>-->
                        <span th:text="${prop.street_add}"></span><br>
                        <span th:text="${prop.city}"></span>
                        <span th:text="|${prop.state}, |"></span>
                        <span th:text="${prop.zip}"></span></a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
<script src="js/mapbox-geocoder-utils.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>

