
* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    color: #363732;
    background: #BBE1C3;
}

footer {
    background: #BBE1C3;
}

.container-home {
    display: flex!important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#streetView {
    /*display: flex!important;*/
    /*justify-content: center;*/
    flex-direction: column;
}

#map {
    height: 100%;
}




