<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Create Notes')">


  <!-- Tempus Dominus Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container d-flex flex-column">
  <!-- Popperjs -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha256-BRqBN7dYgABqtY9Hd4ynE+1slnEw+roEPFzQ7TRRfcg=" crossorigin="anonymous"></script>
  <!-- Tempus Dominus JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

  <h1>Create a Note for this Property</h1>
  <form th:action="@{/notes/create}" th:method="post" th:object="${note}">

    <div class="mb-3 d-flex flex-column">

      <label for="category">Category</label>
      <select class="form-select propCatSelect"  th:field="*{category}" id="category" name="category" required>
        <option value="General">General</option>
        <option value="Maintenance Contact">Maintenance Contact</option>
        <option value="Maintenance Completed">Maintenance Completed</option>
        <option value="Safety">Safety</option>
        <option value="Utility Contact">Utility Contact</option>
      </select>

      <label for="title">Title</label>
      <input id="title" name="title" class="form-control" type="text" th:field="*{title}">

      <label for="body">Body</label>
      <textarea id="body" name="body" class="form-control" type="text" th:field="*{body}"></textarea>

      <input type="datetime-local" class="form-control" th:field="*{date}">


      <input type="hidden" name="propId" th:value="${propId}">
      <!--            <input type="submit" class="btn btn-block btn-primary">-->
      <input type="submit" class="btn btn-create-profile">

    </div>
  </form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>

</body>
</html>