<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Home Page')">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>

<main class="container-home">
    <h1>Welcome</h1>
    <h3>
        Prop Connect - Solo
    </h3>
    <br>
    <div class="video-container">
        <video autoplay muted loop class="vid">
            <source src="/vids/video.mp4">
        </video>
    </div>
    <br>
    <h4>Contact Us</h4>
    <div class="d-flex mb-3">
        <br>
        <form
                action="https://formspree.io/f/xoqznyky"
                method="POST"
        >
            <p><label class="form-label">
                Your email:
                <input type="email" name="email" class="form-control">
            </label></p>

            <P><label class="form-label">
                Your message:
                <textarea name="message" class="form-control"></textarea>
            </label></P>

            <!-- your other form fields go here -->
            <button type="submit" class="btn footer-bg">Send</button>
        </form>
    </div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>