<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Home Page')">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>

<main class="container-home">
        <h1>Welcome</h1>
        <h3>
            Prop Connect - Solo
        </h3>
    </div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>